html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}